<html>
  <body>
    <h1>This was initiated via Chef Script</h1>
    <h2>Exercise to demo scripting for Citrix interview</h2>
    <p>General steps were:</p>
    <ul>
      <li>Create an EC2 Chef Server instance and connect to it via web UI and SSH (needed to validate node name)</li>
      <li>
        Configure server with an initial organization called david
      </li>
      <li>
        Download Starter kit from Chef Server which contains AWS connectivity parameters.
      </li>
      <li>
        Configure workstation (my laptop) with Chef tools. Configure knife.rb file with updated DNS name. Validated connectivity to server via knife client list
      </li>
      <li>
        Configured initial recipe to do apt-get update daily, install apache, and load this template
      </li>
      <li>Date of exercise: June 13, 2016</li>
    </ul>
  </body>
</html>
